Problems with fullwidth delimiters like fullwidth comma (U+FF0C)

For this file https://github.com/adamlui/js-utils/blob/ed75797d3a18eaea4dd52bd7acfcfd0b049983c1/docs/zh-cn/SECURITY.md

 After install lychee to https://github.com/adamlui/js-utils/blob/ed75797d3a18eaea4dd52bd7acfcfd0b049983c1/.github/workflows/check-links-on-push-pr.yml the 1st run is https://github.com/adamlui/js-utils/actions/runs/23633975539/job/68839177430

<img width="880" height="222" alt="Image" src="https://github.com/user-attachments/assets/59544c9c-1c5e-405d-ae2a-165b520fce28" />

(I purposely didn't wrap email in `<>` 

<img width="831" height="224" alt="Image" src="https://github.com/user-attachments/assets/1ffb7a31-161b-4d44-ab5d-fe1aa129c0c5" />

but should still work as GH hyperlinked it to mailto:security@tidelift.com

<img width="274" height="194" alt="Image" src="https://github.com/user-attachments/assets/64af5747-e025-4847-aac1-b30a9d1d4500" />

)


OK I got every error to go away: https://github.com/adamlui/js-utils/actions/runs/23635457611/job/68843651214

.. but it still feels wrong like it is now excluding the address instead of validating it:

<img width="592" height="558" alt="Image" src="https://github.com/user-attachments/assets/71b875ae-f076-4a6c-9ec5-bfde0a996c23" />

Also the 'could not find generate-pw' went awya w/ https://github.com/adamlui/js-utils/commit/d37fa72955e14bcce66cb2ebaf14ab0ecf8c065f looks due to rel link was hard to handle so replaced w/ abs (which GH is terrible at resolving anyway like from repo home MD preview it works different from docs/ view so I didn't mind but others might like using rel links so should still validate those)

I think there has been some confusion around the files. I looked into it and there are very similar files at different parts of the repository: generate-ip/README.md and generate-ip/docs/README.md. The relative link `../generate-pw` will work from the first file but not the second file. I think you noticed this because you said that it works different from [the docs/ view in Github](https://github.com/adamlui/js-utils/tree/ed75797d3a18eaea4dd52bd7acfcfd0b049983c1/generate-ip/docs#-generate-pw-) and, indeed, the link does not work there.

Running this command on the [ed75797d3a18eaea4dd52bd7acfcfd0b049983c1](https://github.com/adamlui/js-utils/tree/ed75797d3a18eaea4dd52bd7acfcfd0b049983c1) commit, I can see that the only errors are from docs/README.md. (I use --offline to speed up the example)
```console
$ lychee --offline generate-ip/README.md generate-ip/docs/README.md
[generate-ip/docs/README.md]:
   [ERROR] file:///home/rina/progs/g/generate-ip/generate-pw | Cannot find file: File not found. Check if file exists and path is correct
🔍 108 Total (in 0s) ✅ 19 OK 🚫 1 Error 👻 88 Excluded
```

Relative links depend on the file location to find the right link target, so this is probably to be expected. If your repo has different copies of the same file in different places and the relative links are only valid in one place, you can exclude some of the source files from link checking:
```bash
lychee '**/*.md' --offline  --exclude-path 'docs/README\.md$' --exclude-path 'docs/LICENSE\.md$'
```
This will check README.md and LICENSE.md outside of docs, but skip the ones _inside_ of docs because their relative links will be broken. Alternatively, using absolute links will also fix it, as you've done.

With the emails, you're right, there are problems with fullwidth delimiters. I made this minimal example:
```
a@tidelift.com，
mailto:b@tidelift.com，
https://a.com/，
https://a.com，
```
```
file:///home/rina/progs/lychee/a@tidelift.com%EF%BC%8C
file:///home/rina/progs/lychee/b@tidelift.com%EF%BC%8C
https://a.com/%EF%BC%8C
https://a.com,/
```

Thanks for filing the issue and including all the links to commits and logs, it was very helpful.  Hopefully, you can give us a second chance, but even if not, we will work hard to fix the bugs. Thanks again.

@adamlui Thank you for the update and clarifications. Also thank you for creating this issue. I forgot to mention this in my initial response, but of course we are thankful for such bug reports.

@katrinafyi Thank you for the detailed and precise investigation, looks like outstanding work, as always :)

> I don't mean to come off as rude but it's like you ignored the unpaid hard work I spent presenting you with the exact cause, and then you tried to dismiss my findings and make yourself look smart instead when I just wanted to move things along

> NVM I won't be selfish like him (others will benefit if fixed)

> (I'm not seeking credit I just want the plugin to work there is no reason to "compete" with me like that you can credit yourself idc at all)

In my first response I only tried to break down the three issues which I understood from your issue description. My intention is/was to take the discussions and investigations further from there. I also tried to break down the bug into a single reproducible command which helps for debugging and further investigation. That's something try to do often times. I might have made a technical mistake in one of my points but there's no reason to escalate and get personal.

> so it felt dismissive like you didn't even bother to trace from what log is showing is why it irritated me like you were trying to make me look foolish

I'm definitely not trying to make you look foolish, not sure how why you make such an assumption. I'm really always trying to be as technical as I can, so let's try to keep this whole discussion technical.

> but I am still happy the mystery is solved by katrina's excellent debugging and intuition so I apologize to you for the frictious response because I am very happy in the end

I'm really happy to hear this.
I'm going to rename the issue. After all the problem is not about a specific mail address but that lychee has issues recognising or properly handling fullwidth delimiters. (such as `，`)

> Why are emails excluded by default?

Because checking email addresses is unreliable in many cases, due to [the state of SMTP](https://github.com/thomas-zahner/mailify?tab=readme-ov-file#state-of-smtp). With switching to mailify a few months back, stability/reliability should be improved quite a bit but timeouts etc. could still be a painful experience if this feature was enabled by default. But we could of course discuss again if it makes sense to enable mail checking by default now that reliability should be improved.

@mre even in the bad UX decision to not `--include-mail` by default he still links to his own repo instead of just say it is too hard to do! Do you get it yet? He is trying to get famous off your repo...

> thomas-zahner has bad intentions is both unfair and untrue

I didn't say it's "bad" I meant he prioritizes self-promo equally/more than just altruistically contribute, that's why every msg (even if you don't see it, I do because I too am a marketer) he tries to elevate himself like in this reply things like telling ppl they're wrong to seem smarter etc. just very common traits of marketers to build "authority" (it is not malicious, i'm explaining it's off-putting to new ppl is all)

> Thomas has always been helpful and level headed 

I didn't say unlevel headed is the issue, just he elevates himself at expense of othesr ("taker" persona, you should look up Ted Talk by Adam something expalins givers vs. takers, both are helpful though just takers turn givers off) 

> coming into an open source project and criticising the actions of an experienced maintainer is quite unreasonable

I didn't say there's not experience, I'm saying from the perspective of someone new it's really off-putting that kind of attitude (you're not new so you're used to it)

> Thomas has been working on lychee much longer than me, so he is actually my senior 

So what? Age doesn't matter, you are obviously smarter than him and from the pov of newbie (me) I preferred your attitude over his, this is an objective truth is what makes you the better maintainer imo

> Things like renaming the issue and restating the problem are normal parts of the bug reporting process

I know that, but he only did it to the ones w/ domains, obviously he thought I owned tidelift.com, also he expressed upset at me already, the natural motive was try to deter what he mistook as "marketing" (even look at his profile he plugs his website etc. just very market-y) so the fact it looked "normal" was convenient alibi for the obvious motive (IDC about renames I just like to expose sneaky moves when I see them) otherwise he woulda done it to all the issues

>  I would not attribute these actions to "stealing" credit or "censoring", and he is certainly not trying to get famous from linking a docs page

He is though, he saw an opportunity to build a repo up to many stars, he saw I link my commits to these issues then started copying, whereas I do it for pragmatic reasons (when issues are patched I can easily sequentially revert the bandaids after I get notif) but he did it (even in my chatgpt.js issue) he used it to link to own repo, it's so obvious he wants the stars is why he did that, why else would he not just say "it's too hard using SMTP"  instead of linking to his own repo? He knew I have lots of followers and repo stars that would see it, that was the obvious reason

>  think that, in his first comment, Thomas just made an honest mistake (or oversight, or typo)

You didn't get it, I'm the noob expressing what I felt was honest tone and intent of his reply. i.e. what I tell you is the objective truth becauwse I am the source of this feeling. I felt he was demeaning and threatened by me, that's why he called me wrong etc. and ignored my helpful info on how to fix (it would otherwise undermine the fact he is maintainer). Pretend you were the maintainer. Did I respond to you that way? No? Then clearly the truth was, in my case,  I found you to be better fit (I have no data on how other noobs reacted to his alpha dominant nature but I would suspect they too wold be off-put by it and leave repo forever, it is very unusual and different to most other repo maintainers)

> But it's not understandable how you go from this one mistake to believing he's an evil person

When did I say evil, my whole ponit is he is unfit as maintainer due to there is a hidden agenda that is not so obvious to members like you beacuse you're used to the helpful side, and that agenda does not involve evil like killing people but promoting self, that's what caused the strange alpha style of maintaining that noobs would be offput by

> You've barely had a conversation - Thomas has posted two comments total. It seems like a big overreaction.

I played poker for decades (I'm 42 just look young, started at 15) so became expert at quickly/accurately judging personas on minimal actions taken since profits depended on it (but even if not, can you imagine some noob that just opened first issue being told they're wrong, how off-putting that is? It doesn't take an expert poker reader to conclude this is not a style of repo maintenance conducive to fostering outsiders to join, which conveniently is not something he would be unhappy with since it gives him more clout /authority/control etc.)

> This is an open source project. There is no competition here. We're just normal people doing this work in our free time. Nobody here is evil and nobody here is perfect. 

Again, noone called anyone evil, also I revealed one person not a whole world is being competitive (alpha/sigmas can identify alpha a mile away it is like a special scent, you are not alpha so you cannot smell it)

> We might have differences in communication style but we all all just want lychee to be the best it can be.

Again, I didn't say he wants lyche to die my pont is he wants to grow self equally with it comapred to other maintainers usually want proiject growth only (demonstrated by constant self-promo, alpha assertions over mistaken-betas etc) which has a cost of it makes betas go away when they coulda contributed more 

> @adamlui I hope you can take a break and come back to us with a calm mind :)

Take a break from what? Also I only call him out to the boss whenever he flexes over me (again I am noob it is very off-putting) so as long as he doesn't do it (i.e. just tell him to block me is best solution) then ev erything will be cool (you can solve issues too why so reliant on him? You solved both he solved none so far you are way smarter)



This might need to be filed against linkify, but I'm not sure it's something they could (or would want to) fix. 

Linkify says it implements RFC 3986 and RFC 3987 for URLs and RFC 5321 and RFC 6531 for emails, but there is a slight mismatch between these RFCs and the use-case of plaintext link extraction. The RFCs define a "valid" URL/email, presuming that you already have a string and you want to treat the entire string as one URL/email. To apply this definition to plaintext link extraction, linkify (generally) implements a _longest match_ semantics. This is problematic for this bug because `a@tidelift.com，` *is* a valid email according to the RFC.

It's clear that plaintext extraction needs different rules than parsing a single URL. Linkify already implements some ad-hoc rules for this (e.g., parens), but following a more appropriate specification would be more consistent. I think Github flavoured markdown is a good spec for this. It's also used by Github so it will line up with user expectations. Their in-text email is specified as an [extended email autolink](https://github.github.com/gfm/#extended-email-autolink) which matches ascii characters. For the email + fullwidth comma, this leads to `a@tidelift.com` as expected (to use international unicode addresses, those can be wrapped in `<>`).

I've done a regex-based implementation of the GFM autolinks at https://github.com/lycheeverse/lychee/compare/master...rina-forks:lychee:autolink and it seems to work well. My questions are: do we want to move to this approach? Also, should I file this as an issue to Linkify? I'm hesitant because it's basically suggesting a full rewrite of the library.

I also took a look at pulldown-cmark and it only has [non-extended autolinks](https://docs.rs/pulldown-cmark/latest/pulldown_cmark/enum.LinkType.html#variant.Autolink) like <http://foo.bar/baz>.

> RFC 5322 even allows comments inside mail addresses, and those comments can be nested!

That's really fascinating! The RFCs are quite fun to read, though I think you're right that there's a de facto use in practice which has diverged now.

The plaintext link extraction is a really hard issue because it has competing forces from both directions: on one hand, international URLs and domain names make writing non-English URLs much nicer than % encoding and they want a more parsing of URLs, but on the other hand, you want to exclude extraneous punctuation and prose text from the URLs.

Github's GFM engine has these issues open:
- https://github.com/github/cmark-gfm/issues/377
- https://github.com/github/cmark-gfm/issues/384

In particular, the second issue seems to be asking for a Japanese domain but excluding following Japanese characters from the URL path. This seems like an impossible combination to me.

> Would your idea be to fully replace linkify with the GFM regex approach you linked to? Maybe it could be possible to only use it for mail addresses? (see below) But not sure if that would make sense.

Yeah, at least in the short term until linkify considers the problem. I should file an issue raising the topic to them. While we're still experimenting with the matching rules, regex is also good because it makes it's easy to adjust and the rules are fairly visible (compared to a more efficient hand-written parser like linkify uses). Using the GFM regex for emails and linkify for URLs wouldn't really work because URLs also have similar problems, as in the linked gfm issues and `https://a.com/，` in today's lychee.



You're right, the two issues do seem quite contradictory.

> Yeah, at least in the short term until linkify considers the problem. I should file an issue raising the topic to them. While we're still experimenting with the matching rules, regex is also good because it makes it's easy to adjust and the rules are fairly visible (compared to a more efficient hand-written parser like linkify uses).

That sounds sensible 👍
I would assume the potential performance degradation to be minor. We could of course double check before merging. As expected time complexity is low according to [the regex docs](https://docs.rs/regex/latest/regex/):

> In exchange, all regex searches in this crate have worst case O(m * n) time complexity, where m is proportional to the size of the regex and n is proportional to the size of the string being searched.